
div#divLogin{
    margin:0 auto;
    width: 400px;
    margin-top:50px;
    border:solid 1px #999;
    padding: 15px;
    border-radius: 15px;
}


    div#divLogin .textbox{ 
        width: 98%;
    }
    
    div#divLogin .btn{
        display: block;
        margin-top: 12px;
    }  