/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/12/2014, 11:54:56 AM
    Author     : jhonjaider1000
*/
div#lista-impresiones{    
    width: 100%;
    height: 100%;    
    box-shadow: 0px 0px 1px;
}

div#lista-impresiones div#header{
    width: 100%;
    height: 90px;    
    border-bottom: 1px solid #CCC;    
}
div#lista-impresiones div#body{    
    width: 100%;
    height: 90%;
    padding: 10px 0px;        
}

div.consultas{
    float: left;    
    color: black; 
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;            
    width: 200px;
    text-align: center;
}
div.consultas input[type="text"],div.consultas select{
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 0px 0px 10px;
    border-radius: 3px;
    border: 0px;    
    border: 1px solid #ccc;
}
div.consultas select{
    width: 190px;
}
div#link-listimpre{
    background: red;
}
div#btn-buscar{    
    margin-top: 17px;
}
#btn-buscar{
    width: 120px;
    margin-left: 2px;
    padding: 15px 0px 0px 0px;    
    border: 0px;
}
div#num-impresiones{
    margin-top: 26px;
    float: right;
    margin-right: 80px;
}
#btnBuscar{
    background: green;
    border: 0px;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

table{
    width: 89%;
    margin: 0px;
    margin: 0 auto;    
    text-align: center;    
}

th{
    background: green;    
    color: #fff;    
    padding: 4px 2px;
}

td{
    border: 1px solid #ccc;
    margin: 0px;
}

.colum-1{
    width: 40px;
}

.colum-2{
    width: 200px;
}
.colum-3{
    width: 200px;
}
.colum-4{
    width: 240px;
}
.colum-5{
    width: 160px;
    text-align: center;
}

tr:hover{
    background: #78a5d1;
    cursor: pointer; 
}
div#content-table{
   width: 89%;
   border: 1px solid #ccc;
   margin: 0 auto;
   height: 390px;
   overflow: auto; 
}

table#tablaContent{
    width: 100%;
}