/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/12/2014, 11:54:56 AM
    Author     : jhonjaider1000
*/
div#lista-impresiones{    
    width: 100%;
    height: 100%;    
    box-shadow: 0px 0px 1px;
}

div#lista-impresiones div#header{
    width: 100%;
    height: 90px;    
    border-bottom: 1px solid #CCC;    
}
div#lista-impresiones div#body{    
    width: 100%;
    height: 90%;
    padding: 10px 0px;        
}

div.consultas{
    float: left;    
    color: black; 
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;            
    width: 200px;
    text-align: center;
}
div.consultas input[type="text"],div.consultas select{
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 0px 0px 10px;
    border-radius: 3px;
    border: 0px;    
    border: 1px solid #ccc;
}
div.consultas select{
    width: 190px;
}
div#link-listimpre{
    background: red;
}
div#btn-buscar{    
    margin-top: 17px;
}
#btn-buscar{
    width: 120px;
    margin-left: 2px;
    padding: 15px 0px 0px 0px;    
    border: 0px;
}
div#num-impresiones{
    margin-top: 26px;
    float: right;
    margin-right: 80px;
}
#btnBuscar{
    background: green;
    border: 0px;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

div#table{
    width: 83%; 
    margin: 0 auto;    
    height: 450px;    
}

div#table *{
    float: left;
}
div#table div.thead-table{
    background: green;
    color: #fff;    
    width: 100%;    
    border-radius: 4px 4px 4px 0px;
    box-shadow: 0px 0px 1px black;
}
div#table div.tbody-table{
    background: #fff;
    color: #000;
    width: 100%;
    height: 420px;        
    overflow: auto;
    box-shadow: 0px 0px 1px black;
}

div#table div.thead-table div.th-table{    
    text-align: center;
    padding: 5px 10px;    
    font-family: sans-serif;
    font-weight: bold;
    border-right: 1px solid #ccc;
}
div#table div.tbody-table div.td-table{
    text-align: center;
    padding: 3px 10px;
    font-family: sans-serif;
    font-weight: normal;
    border-right: 1px solid #AAA;
}

div#table div.thead-table div#codigoImpre{
    width: 150px;
}
div#table div.tbody-table div#codigoImpre{
    width: 150px;
}
div#table div.thead-table div#fechaImpre{
    width: 160px;
}
div#table div.tbody-table div#fechaImpre{
    width: 160px;
}
div#table div.thead-table div#nombreArchivo{
    width: 160px;
}
div#table div.tbody-table div#nombreArchivo{
    width: 160px;
}
div#table div.thead-table div#totalImpre{
    width: 180px;
}
div#table div.tbody-table div#totalImpre{
    width: 180px;
}
div#table div.thead-table div#estadoImpre{
    width: 144px;
}
div#table div.tbody-table div#estadoImpre{
    width: 144px;
}

div#table div.tbody-table div.tr-table1:hover{    
    background: #78a5d1;
    cursor: pointer;    
}
div#table div.tbody-table div.tr-table2:hover{
    background: #78a5d1;
    cursor: pointer;    
}
div#table div.tbody-table div.tr-table1{
    background: #fff;
}
div#table div.tbody-table div.tr-table2{
    background: #EAEAEA;
}
div#table div.thead-table div#indice-table{    
    width: 30px;
    text-align: center;
    padding: 8px 0px 0px 0px;
    height: 17px;
}
