/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2014, 07:14:02 PM
    Author     : jhonjaider1000
Tomado de: Modales tomado de: http://emiliocobos.net/modalbox-una-ventana-modal-propia/
*/
.back-modal{
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: auto;
}
.contet-modal{
    width: 400px;
    pointer-events: auto;
    position: relative;    
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
}

.header-modal{
    border-bottom: 1px solid #ccc;    
    font-weight: bold;
    font-size: 16px;
    height: 50px;    
}
.titulo-modal{            
    width: 93%;
    float: left;
    height: 50px;
}
.titulo-modal h2{
    margin-top:10px;
    margin-left: 20px;
} 

.close-modal{    
    width: 7%;
    float: left;
    height: 50px;    
}
.close-modal img{
    margin-top: 10px;
}
.body-modal{
    padding: 14px;
    width: 100%;
    height: auto;        
}
.footer-modal{    
    width: 100%;
    height: auto;
    text-align: right;
    padding: 2px 10px;    
}

#contentModal{
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: auto;    
}

.contet-modal{
    box-shadow: 0px 0px 7px black;
}
div.contenido-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity: 1;
    bottom: 0;
    right: 0;   
}
#error-data{
    width: 60%; 
    height: 60%;       
    display: block;
    margin: 0 auto;    
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #BE4C4C;
}

#error-data img{
    width: 200px;
    float: left;
}

#error-data h1{
    float: left;
    margin-left: 20px;    
    margin-top: 40px;
    display: block;    
    color: rgb(232, 15, 15);
}

#error-data p{    
    float: left;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: justify;
    color: #7E6161;
}

div#register{
       position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
       background: rgba(232, 233, 242, 0.87);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: auto;
}

div#content-register{
    width:400px;
    margin: 0 auto;
    box-shadow: 0px 0px 6px #ccc;
    background: #fff;
    border-radius: 10px;
    height: 90%;
    margin-top: 20px;
}

div#body-register{
    overflow: auto;    
    padding: 14px;
    overflow: auto;
    height: 80%;
}

div#body-register input[type="text"]{    
width: 96%;
}


div#abrirEditor{
    position: fixed;
    top: 200px;
    left: 0px;
    width: 50px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 3px #000;
    background: #FFFFFF;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;    
    cursor: pointer;
}

.modal-register{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.69);
}

.register-form{
    background: #FFFFFF;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 3px #000;   
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
}
.register-form .register-header{
    width: auto;
    background: #61C161;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-shadow: 0px 0px 1px #000;
    overflow: auto;    
}

.register-form .register-body{
    width: auto;
    height: 76%;
    overflow: auto;
    padding: 15px;
}

.register-form .register-footer{
    width: auto;
    height: 50px;    
    text-align: right;
    padding: 7px 10px 0px 0px;
}
.register-form .register-body label{
    font-size: 13px;
}

.register-form .register-body input[type="text"]{
    width: 96%;
}

.register-form .register-body .duo-campos input[type="text"]{
    width: 90% !important;
}

.register-form .register-body .duo-campos select{
    width: 98% !important;
}


img#imgCloseRegis{
    width: 20px;
    float: right;
    cursor: pointer;
}