/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/12/2014, 03:23:54 AM
    Author     : jhonjaider1000
*/

*{
    margin: 0px;
}

body{
    background-color: #000;
    font-family: sans-serif;
}

label{
    font-weight: bold;
}
header{
    width: 100%;    
    height: 150px;        
    padding: 0px;    
}
div#contenedor{
    width: 1150px;    
    margin: 0 auto;
}
header img{    
    width: 100%;
    height: 150px;
}

div#cargador{
    position: absolute;
    top:-1px;
    left: 45%;
    border:solid 1px #379C2D;
    padding: 5px 15px 6px 15px;
    color:#333;
    background-color: #FFF;
    border-radius:0px 0px 15px 15px;
    box-shadow: 0px 0px 7px #379C2D;  
    display: none;
}

div#cargador img{
    width: 30px;
}

nav{
    width: 100%;
    height: 31px;
    background-color: #000;
}

div#divContenido{
    width: 100%;    
    border-top: 1px solid #000;
    height: 450px;
    background-color: #fff;
}

/* Estilos Leonardo */
input[type='button']{
    border-radius: 7px;
}

label{
    display: block;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 1.1em;
}


select{
    height: 30px;
    background-color: #FFF;
    border-radius: 7px;
}


input[type="text"],
input[type="file"],
input[type="password"]{
    height: 30px;
    background-color: #FFF;
    border-radius: 7px;
    padding-left: 5px;
    
}

input[type="text"],
input[type="password"]{
    border:solid 1px #999;
}

input[type="file"]{
    margin-top: 10px;
}

select option{
    height: 20px;

}

select option:hover{
    background-color: #F00;
}
input[type="number"]{
    height: 20px;
}
div#divContenido{
    padding: 0px;
}

footer{
    width: 100%;
    height: 80px;  
    padding: 0px;  
}

footer div.content-footer{    
    width: 1150px;
    display: block;
    background-color: #F2F2F2;    
    height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 3px #7B7B7B;
}

footer div.content-footer *{
    float: left;
}
footer div.content-footer div#redesSociales{
    float: left;    
}
footer div.content-footer #infoAdicional span{
    margin-left: 5px;
}
footer div.content-footer #infoAdicional{
    margin-left: 40px;
    margin-top: 1px;
}
footer div.content-footer span{
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 12px;        
    margin-top: 20px;
    color: #808080;    
}
footer div.content-footer label{
    font-family: sans-serif;
    font-size: 12px;
    color: #808080;    
    float: left;
    margin-left: 20px;
    margin-top: 20px;    
}

footer div.content-footer div#redesSociales img{
    margin-top: 20px;
    width: 16px;
    margin-left: 2px;
    cursor: pointer;
}

div#redes{
    float: right;
    margin-right: 495px;
}
body{
    background-color: #ededed !important;
}
section{
    box-shadow: 0px 0px 3px #555;
}
header{
    box-shadow: 0px 0px 3px #555;
}
.content-footer{
    background-color: #323232 !important;         
}
nav{
    box-shadow: 0px 0px 4px #555 !important;   
}
footer div.content-footer label{
    color: #C4C4C4;
}
footer div.content-footer span{
    color: #C4C4C4;
}